@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.navbar {
  background-image: url("../images/6fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #B19081;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: start;
  list-style: none;
  height: 45px;
  width: 100vw;
}

.navbar-item {
  font-size: 25px;
  font-weight: bolder;
  text-align: center;
  margin-right: 20px;
  padding: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-item
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #B19081;
}

a:hover {
  color: #1F3131;
}

.presentacion h1 {
  background-color: #587D6D;
  text-align: center;
  font-style: italic;
  height: 45px;
}

.texto-inicio {
  background-color: #587D6D;
  font-size: 18px;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.noel1 {
  background-image: url("../images/cabecerasanta.jpg");
  background-repeat: repeat;
  background-size: contain;
  height: 100px;
  width: 100vw;
}

.papaNoel {
  background-color: #600b03;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo1 {
  background-color: #587D6D;
  color: #600b03;
  width: 400px;
  border-radius: 100%;
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  margin: 5px;
  padding: 10px;
  text-transform: uppercase;
}

.textoNoel {
  margin: 60px;
  font-size: 19px;
  font-weight: bold;
  font-style: oblique;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: justify;
}

.titulo2 {
  background-color: #B19081;
  color: #1F3131;
  width: 200px;
  border-radius: 100%;
  font-size: 18px;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  margin: 5px;
  padding: 10px;
  text-transform: uppercase;
}

.section1 {
  background-image: url("../images/fondonavidad.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px #6C0000;
  border-image-outset: 2cm;
}

.music {
  width: 300px;
  height: 300px;
  border-radius: 10%;
}

.formulario {
  background-color: #47705e9a;
  color: black;
  text-align: center;
  font-style: italic;
  font-size: 30px;
  height: 40px;
  width: 100vw;
}

.formulario1 {
  background-image: url("../images/fondo_formulario.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  height: 100vh;
  padding-bottom: 10%;
}

footer {
  background-color: transparent;
  text-align: center;
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

.formuladiv {
  width: 331.767;
  padding-left: 218;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.formuladiv {
  background-color: #1F3131;
  color: black;
  font-style: italic;
  font-size: 25px;
  height: 70vh;
  width: 100vw;
}

.formuladiv h1 {
  width: 607.767px;
  height: 48px;
  margin-right: 369;
  border: solid #B19081;
  background-color: #B19081;
}

.formuladiv a {
  width: 148.8px;
  height: 26px;
  margin-left: 210px;
  margin-top: 1px;
  margin-left: 129px;
}

.formuladiv a:hover {
  color: #600b03;
  background-color: #B19081;
}

img {
  height: 243px;
  height: 243px;
  width: 227px;
  float: left;
}

.calendario {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cabecera {
  height: 150px;
  width: 100vw;
  background-image: url(../images/cabeceracalendari.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.cabecera h1 {
  padding: 5px;
  color: black;
  text-align: center;
  text-transform: uppercase;
}

.cabecera p {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
  text-transform: capitalize;
}

.calcontainer a:link,
a:visited,
a:active {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

.calcontainer a:hover {
  background-color: #600b0354;
  color: #1F3131;
  padding: 15px;
  border-radius: 10%;
}

.calcontainer {
  background-color: #587D6D;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(150px, 2fr);
  grid-auto-flow: dense;
  padding: 2rem;
}

.cal-item1 {
  background-image: url(../images/papanoel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  background-position: center center;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  grid-row: span 2;
  grid-column: span 2;
}

.cal-item2 {
  background-image: url(../images/pieschimenea.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  background-position: center center;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 2;
}

.cal-item3 {
  background-image: url(../images/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  background-color: #770f0f;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  grid-column: span 1;
  grid-row: span 2;
}

.cal-item4 {
  background-image: url(../images/calcetinesnavidad.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 3;
  -ms-grid-column: 2;
  grid-column: 2;
}

.cal-item5 {
  background-image: url(../images/piñas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 2;
}

.cal-item6 {
  background-image: url(../images/casalucesnavidad.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: center;
     object-fit: center;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 2;
}

.cal-item7 {
  background-image: url(../images/arbolnieve.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 2;
}

.cal-item8 {
  background-image: url(../images/perroreno.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 3;
  -ms-grid-column: 2;
  grid-column: 2;
}

.cal-item9 {
  background-image: url(../images/regalosnavidad.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: span 1, 5;
  grid-row: span 2;
}

.cal-item10 {
  background-image: url(../images/casagenjibre.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 3;
  -ms-grid-column: 2;
  grid-column: 2;
}

.cal-item11 {
  background-image: url(../images/florpascua.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 2;
}

.cal-item12 {
  background-image: url(../images/trineo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

.cal-item13 {
  background-image: url(../images/velanavidad.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 2;
}

.cal-item14 {
  background-image: url(../images/niñoarbolnavidad.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 2;
}

.cal-item15 {
  background-image: url(../images/renoblanco.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-column: span 1;
  grid-row: span 1;
}

.cal-item16 {
  background-image: url(../images/baston.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 2;
}

.cal-item17 {
  background-image: url(../images/reno.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 2;
}

.cal-item18 {
  background-image: url(../images/niñosnavidad.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 1;
  -ms-grid-column: 1;
  grid-column: 1;
}

.cal-item19 {
  background-image: url(../images/adornos.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 1;
  grid-column: span 1;
}

.cal-item20 {
  background-image: url(../images/regalosnavidad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: fill;
     object-fit: fill;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-column: span 1;
  grid-row: span 1;
}

.cal-item21 {
  background-image: url(../images/bolanavidad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 2;
}

.cal-item22 {
  background-image: url(../images/cenanavidad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 1;
}

.cal-item23 {
  background-image: url(../images/frosty.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 2;
}

.cal-item24 {
  background-image: url(../images/arbolchimenea.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-row: span 2;
}

.cal-item25 {
  background-image: url(../images/feliznavidad.gif);
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid white;
  border-radius: 0.66rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  grid-column: span 1;
  grid-row: span 3;
}

footer {
  background-color: #587D6D;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  height: 25px;
  width: 100vw;
  padding: 30px;
}
/*# sourceMappingURL=style.css.map */